<div class="container-about">
<div class="headshot">
    <img src="/assets/headshot_1.jpg" alt="headshot"/>
</div>
<div class="my-info">
  <h1 class="full-name">linda o'neill</h1>
  <p class="headline">Full-stack web developer based in Chicago, IL.</p>
  <br>
  <p class="about-me">After graduating from DePaul University with a B.A. in Graphic Design, I found myself on a 5 year journey through the world of sales and recruiting. This path eventually led me to a sales position at a high-profile tech company, where I spoke with hundreds of people every week and became fascinated with the way people interacted on the platform. Seeing the way that small application updates or changes affected the user's experience, the company's success, and the application's effectiveness led to my desire to study web development and become a part of that impact.
</div>
</div>
