<div class="container-homepage">
<div class="headshot">
    <img src="/assets/headshot_1.jpg" alt="headshot"/>
</div>
<div class="my-info">
  <h1 class="name">linda o'neill</h1>
  <h2>Web Developer</h2>
  <p>Chicago based web designer/full-stack developer</p>
</div>
</div>
