<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Project description. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Project description. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Project Description. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Project description. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Project Description. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Project description. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 </div>
</main>
