<nav class="menu">
  <span class="menu-circle"></span>
  <a href="#" class="menu-link">
    <span class="menu-icon">
      <span class="menu-line menu-line-1"></span>
      <span class="menu-line menu-line-2"></span>
      <span class="menu-line menu-line-3"></span>
    </span>
  </a>
</nav>

<div class="menu-overlay">
    <a><%= link_to "About", about_path %></a>
    <a><%= link_to "Portfolio", projects_path %></a>
    <a><%= link_to "Contact", new_message_path %></a>
</div>

<div class="container-projects">
<header>
  <h1 id="portfolio-title">Projects</h1>
</header>
<br>

<div class="card projects" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
  <% @projects.each do |project| %>
    <h1 class="card-title">
      <a href="#"><%= link_to project.title, project %></a>
    </h1>
    </div>
  <% end %>
</div>
</div>
