<div class="container-projects">
<header>
  <h1 id="portfolio-title">Projects</h1>
</header>
<br>

<div class="card projects" style="width: 18rem;">
  <img class="card-img-top" src="http://lorempixel.com/350/260/abstract/placeholder-1" alt="Card image cap">
  <div class="card-body">
  <% @projects.each do |project| %>
    <h1 class="card-title">
      <a href="#"><%= link_to project.title, project %></a>
    </h1>
    </div>
  <% end %>
</div>
</div>
