// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact {
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #ffff;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.form {
  margin-top: 80px;
  text-align: center;
}

.name {
  padding-top: 10px;
  padding-right: 10px;
  display: inline;
  border-radius: 10px;
}

.email {
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
  border-radius: 10px;
}

.message {
  padding-top: 10px;
  border-radius: 10px;
}

.btn {
  border-radius: 5px!important;
}
