// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-home {
  display: flex;
  height: 500px;
  background-color: #81F0E5;
}


.name {
  margin: auto;
  font-size: 300px;
  color: white;
  padding-left: 100px;
}
