// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-home {
  display: flex;
  height: 100%;
  background-color: #20BDC3;
  justify-content: center;
}

.logo {
  display: table-cell;
  padding-top: 150px;
}

.logo:hover {
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}

.home-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 46px;
}

#home .menu {
  visibility: hidden;
}

.home-menu:hover .logo {
  transform: scale(1.4);
  transition: all 0.2s ease-in-out
}

.home-menu-overlay {
  background-color: #fff;
  color: #333;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
}

.home-menu-overlay a {
  color: #6E9075;
  font-family: 'Sacramento', cursive;
  font-weight: 600;
  font-size: 50px;
  padding: 2%;
  margin:  25% 1% 0;
  display: inline-block;
}

.home-menu-overlay.open {
 opacity: 1;
 visibility: visible;
}

.home-menu.open .logo { transform: scale(60);
}
