// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-home {
  display: flex;
  height: 500px;
  background-color: #81F0E5;
}

.logo {
  display: table-cell;
  padding-top: 150px;
  text-align: center;
  vertical-align: middle;
}
