// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-projects {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

#portfolio-title {
  display: block;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #ffff;
}

.projects {
  display: inline-block;
}

.card {
  display:inline;
  margin: 10px;

}
.card-body {
  background: #ffff;
  text-align: center;
  width: 360px;
  border-radius: 5%;
  padding-bottom: 20px;
}

.card-img-top {
  border-radius: 50%;
  padding-top: 20px;
}
