// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-work {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
